.tab-container {
    display: flex;
    justify-content: space-around;
    // background-color: #f5f5f5;
    margin: auto;
    width: 80%;
    padding: 10px;
    flex-wrap: wrap;
    margin-top: 10px;
    .staticTab{
        position: relative;
        cursor: pointer;
        padding: 15px;
        &::after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 0px;
            height: 3px;
            border-radius: 5px;
            background-color: #ffa65d;
            bottom: 5px;
            transition: all 0.25s ease;
        }
    }
    .tabs {
        color: #ff8e33;
        &::after{
            width: 100%;
        }
    }
    span {
        font-weight: 600;
    }
}