.main {
    margin: 10px 20px 0px 20px;

    .filter {
        display: flex;
        align-items: center;
        gap: 15px;

        .react-datepicker-wrapper {
            width: 150px;
        }

        .DatePicker {
            border: 1px solid #dfdfdf;
            padding: 11.5px 5px;
            max-width: 140px;
        }

        input[type=date] {
            border: 1px solid #dfdfdf;
            padding: 0px 20px;
        }

        .add-product {
            margin-left: auto;
            display: flex;
            gap: 30px;

            .totalCount {
                display: flex;
                align-items: center;
                font-size: 18px;
            }

            .add-prd-btn {
                margin: 10px 0px;
                padding: 0px 20px;
                border-radius: 5px;
                border: 1px solid #dfdfdf;
                color: #4caf50;
            }
        }
    }

    table {
        margin: 0 auto;
        text-align: center;

        tr {
            td {
                padding: 10px;
            }
        }
    }

    .productTable {
        padding: 20px 20px 10px 20px;
        box-shadow: 2px 4px 20px rgb(255 0 0 / 51%);
        width: 100%;
        overflow: auto;
        .fields{
            display: flex;
            flex-direction: column;
        }
        .images {
            width: 100px;
            height: 100px;
        }
    }
    .act-btn {
        display: flex;
        gap: 10px;
        justify-content: center;

        .edit-btn {
            font-size: 14px;
            height: 30px;
            width: 60px;
            background: #4caf54c2;
            color: #ffff;
            border: none;
        }

        .delete-btn {
            font-size: 14px;
            border: none;
            height: 30px;
            width: 60px;
            color: #ffff;
            background: #ff00008a;
        }
    }
}